.div1{
    background-color: lightskyblue;
    width: 100px;
    height: 100px;
}

.div2{
    background-color: blue;
    width: 100px;
    height: 100px;
}

.div3{
    background-color: darkblue;
    width: 100px;
    height: 100px;
}