.div1{
    background-color: lightblue;
    width: 100px;
    height: 100px;
}

.div2{
    background-color: lightsalmon;
    width: 100px;
    height: 100px;
}

.div3{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
}