/* Variables */
$fuente-tipica: sans-serif, Helvetica, Arial;
$fuente-tipica2: Arial, Helvetica, sans-serif;
$color-fondo: #ccc;
$color-letra: red;
$color-letra2: blue;


body{
    background-color: $color-fondo;
}

h1{
    color: $color-letra;
    font-family: $fuente-tipica;
}

p{
    color: $color-letra2;
    font-family: $fuente-tipica2 ;
}

/* Uso de anidacion */
.caja{
    border: 1px solid black;
    margin: 0px auto;
    text-align: center;
    background-color: white;
    padding: 10px;

    h2{
        color: blue;
    }
    p{
        color: green;
    }
    .info{
        font-size: 10px;
        .autor{
            font-size: 14px;
            color: orange;
        }
    }
}

/* Mixins - Funciones */

@mixin crearBorder5-sombra(){
    border: 5px solid red;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
}

@mixin crearBorder10-sombra-Param($color, $size, $shadow){
    border: $size solid $color;
    border-radius: $size;
    box-shadow: 0px 0px $size $shadow;
}

.caja{
    @include crearBorder5-sombra();
}

.caja2{
    @include crearBorder10-sombra-Param(yellow, 20px, 20px);
}

.listadoMIxin{
    @include crearBorder10-sombra-Param(green, 20px, blue);
    margin-bottom: 50px;
}

// Herencia
%alerta-normal{
    @include crearBorder10-sombra-Param(gray, 20px, black);
    padding: 10px;
    width: 80%;
    margin: 10px auto;
}

.alerta{
    @extend %alerta-normal;
}

.alerta-peligro{
    @extend %alerta-normal;
    background-color: red;
    color: white;
}

.alerta-exito{
    @extend %alerta-normal;
    background-color: green;
    color: white;
}

// Operadores
h4{
    font-size: 32px + 5px -1px;
}

h5{
    font-size: 18px - 2px;
}

$caja: 200px;
$wrap: 900px;

.cajas{
    width: $wrap;
    margin: 0px auto;
}

.cajaOp{
    float: left;
    @include crearBorder10-sombra();
    width: $caja / $wrap * 100%;
    margin: 10px;
}

//Condicionales en SASS - IF
h1{
    @if $color-fondo == #ccc{
        color: black;
    } @else if $color-fondo == black{
        color: lightblue;
    } else{
        color: lightsalmon
    }
}

//Bucles
$contador: 1; 

@for $contador from 1 through 9{
    .listadoMIxin ul li:nth-child(#{contador}){
        font-size: $contador * 5px;
    }
} 
  