@font-face {
    font-family: "TrebuchetMS";
    src: url("../fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "WebSymbolsRegular";
    src: url("../fonts/WebSymbols-regular-webfont.otf");
        url("../fonts/WebSymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/WebSymbols-regular-webfont.wotf") format("woff"),
        url("../fonts/WebSymbols-regular-webfont.ttf") format("truetype"),
}